{% extends "::base.html.twig" %}

{% block title %}DefaultBundle:makeExcelController:StatGlobaleCircuit{% endblock %}

{% block body %}
<h1>Welcome to the makeExcelController:StatGlobaleCircuit page</h1>
{% endblock %}
