<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<p>
<div>
    <img controls controlsList="nodownload" style="width: 100%" src="https://synergui.apipguinee.com/banniereemail.jpg"
         alt=" GUICHET UNIQUE  DE LINVESTISSEUR">
</div>
</p>
<p style="font-size: 28px">
    {{ messageBody }}
</p>
</body>
</html>
