{% extends "::base.html.twig" %}

{% block title %}DefaultBundle:StatistiquePdf:dossierQuittancerOrNotByPeriodePdf{% endblock %}

{% block body %}
<h1>Welcome to the StatistiquePdf:dossierQuittancerOrNotByPeriodePdf page</h1>
{% endblock %}
