#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    width: 180px; /* seule ligne rajoutée */
}
#menu-vertical li {
    position: relative;
    background:#EFEFEF; /* juste pour cacher le texte de la page en-dessous */
}

#menu-vertical li ul li ul #cheikho{visibility: hidden; }
#menu-vertical li:hover ul li:hover ul #cheikho {visibility: visible;}
#menu-vertical li ul li ul.niveau3{top:0px;width: 200px;text-align:left}

#menu-vertical a {
    display:block;
    text-decoration: none;

}
#menu-vertical ul {
    position: absolute;
    left:-999em;
}
#menu-vertical li:hover ul {
    top: 0;
    left: 180px;

}
