
{% extends '::base-office.html.twig' %}
{% block body -%}
<div id="container">
    {% if(entity|length != 0) %}
                
                <ul class="thumbnails">
                    {% for entity in entity %}
                        <li class="span3">
                          
                            <div class="thumbnail">
                                <img src="{{ asset(entity.image.AssetPath) }}"  name="{{ entity.image.AssetPath }}"/>
                                <div class="caption">
                                    <h4>{{ entity.titre }}</h4>
                                   
                                          
                                </div>
                            </div>
                                    
                        </li>
                   
                       {% endfor %}
                </ul>
               
               {% else %}
                <div class="alert alert-error"> <strong>Alerte!!! Pour le moment cette rubrique est vide !!!</strong></div>
              {% endif %}   
              
            
        
</div>
    {% endblock %}