{% block subject %}{% endblock %}
{% block body_text %}
{% endblock %}
{% block body_html %}
	<div style="background-color:rgb(239, 239, 239);">
		<div style="width:60%;margin:auto;background-color:white;padding:25px;">		
			 {%trans%}notification.bonjour{%endtrans%}<br/>
                 
			<p>
				{%trans%}notification.reinitialisation_mot_passe{%endtrans%}
			</p>
			<a style="font-weight:bold;font-size: 22px;" href = "{{ confirmationUrl }}">{%trans%}utilisateur.reinitialisation_mot_passe{%endtrans%}</a>
			<br />
			{%trans%}notification.cordialement{%endtrans%},<br/>
			{%trans%}notification.auteur{%endtrans%}	
		</div>
		<br />
		<br />
		<br />
		<br />
	</div>
{% endblock %}