<style type="text/css">
    .lienInactif{text-decoration: none;}	
	.lienInactif:hover{text-decoration: none;cursor: default;}
	.active:hover{cursor: default;}
	
  </style>
<ol class="breadcrumb">    
        {% for et in listeEtapes %} 
            {% if rte==et.routePole %}
                <li class="active" style=""><font style="font-size: 9pt;font-weight:bold;color: red;">{{et.titre}}</font></li>
            {%else%}
            <li ><a class="lienInactif"><font style="font-size: 9pt">{{et.titre}}</font></a></li>
            {% endif%}
        {% endfor %}

        <li><a class="lienInactif"><font style="font-size: 9pt">{%trans%}formulaire_pole_title{%endtrans%}</font> </a></li>

    </ol>
{#{{path(et.routePole ,{'idd':idd})}}#}
