{% extends '::base.html.twig' %}
{% block title %}{{"Edition d'une  news"|trans}}{% endblock %}
 {%block active%}
                 <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i>&nbsp;&nbsp;{%trans%}Tableaux de bord{%endtrans%}</a>

                    </li>
                    <li >
                        <a href=""><i class="fa fa-wrench"></i>&nbsp;&nbsp;{%trans%}Paramétrage{%endtrans%}</a>
                    </li>
                     <li  class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#portail"><i class="fa fa-fw fa-newspaper-o"></i>&nbsp;&nbsp;{%trans%}Portails{%endtrans%}<b class="caret"></b></a>
                          <ul id="portail" class="collapse">
                            <li>
                               <a href="{{path('news_index')}}"><i class="fa fa-fw fa-newspaper-o"></i>&nbsp;&nbsp;{%trans%}Gestion des news{%endtrans%}</a>
                            </li>
                            <li >
                               <a href="{{path('faq_index',{'_locale':app.request.locale})}}"><i class="fa fa-fw fa-newspaper-o"></i>&nbsp;&nbsp; {%trans%}Gestion de la FAQ{%endtrans%}</a>
                            </li>
                            <li  >
                                <a href="{{path('contact_index',{'_locale':app.request.locale})}}"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;{%trans%} Gestion des Contacts {%endtrans%}</a>
                            </li>  
                           </ul>    
                        </li>

                      
                     <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> {%trans%}Accueil{%endtrans%}</a>
                    </li>
                </ul>
{% endblock %}