{% extends "::base.html.twig" %}

{% block title %}DefaultBundle:PayCardController:makePaiement{% endblock %}

{% block body %}
<h1>Welcome to the PayCardController:makePaiement page</h1>
{% endblock %}
